{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-functions",
    "transform-decorators-legacy",
    "transform-inline-environment-variables"
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
